{% set sleep_wt = day.sleeps|selectattr("provider", "eq", "withings")|list|first %}
{% set sleep_gr = day.sleeps|selectattr("provider", "eq", "garmin")|list|first %}

{% if sleep_wt %}
<canvas id="sleepWT_chart" width="400" height="100"></canvas>
<hr>
{% endif %}
{% if sleep_gr %}
<canvas id="sleepGR_chart" width="400" height="100"></canvas>
<hr>
{% endif %}

<script>
{% if sleep_wt %}
const sleepWTCtx = document.getElementById('sleepWT_chart').getContext('2d');
const sleepWTChart = new Chart(sleepWTCtx, {
    type: 'bar',
    data: {
        datasets: {{ sleep_wt.phases|sleep_timeseries("withings") }},
    },
    options: {
        scales: {
            x: {
                type: 'time'
            },
            y: {
                beginAtZero: true
            }
        }
    }
});
{% endif %}

{% if sleep_gr %}
const sleepGRCtx = document.getElementById('sleepGR_chart').getContext('2d');
const sleepGRChart = new Chart(sleepGRCtx, {
    type: 'bar',
    data: {
        datasets: {{ sleep_gr.phases|sleep_timeseries("garmin") }},
    },
    options: {
        scales: {
            x: {
                type: 'time'
            },
            y: {
                beginAtZero: true
            }
        }
    }
});
{% endif %}
</script>
