{% extends "layout_header.html" %}

{% block content %}
<ul class="nav mb-3">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('day_today') }}">Mon journal du jour</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('day_summary_today') }}">Mes données aujourd'hui</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('account') }}">Mon compte</a>
    </li>
</ul>
<section>
    <div id="calendar"></div>
    <canvas id="summary_chart"></canvas>
</section>
{% endblock %}

{% block extrajs %}
<script>
var chart
var baseUrl = "{{ url_for('api.calendar') }}"
document.addEventListener("DOMContentLoaded", function() {
    var summaryChartCtx = document.getElementById("summary_chart").getContext("2d");
    summaryChart = new Chart(summaryChartCtx, {
        type: "bar",
        data: {
            datasets: [{
                id: "stress",
                label: "Battery",
                data: [],
                backgroundColor: "#ef476f",
            }, {
                id: "sleep",
                label: "Sleep",
                data: [],
                backgroundColor: "#ffd166",
            }]
        },
        options: {
            scales: {
                x: {
                    type: "time",
                    // fixes a weird bug on wide displays
                    time: {
                        unit: "day"
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    })
})

/**
 * Update chart when calendar view changes
 */
function viewDidMount(args) {
    var qargs = new URLSearchParams()
    qargs.append("start", args.view.activeStart.toISOString().slice(0, -1))
    qargs.append("end", args.view.activeEnd.toISOString().slice(0, -1))
    Promise.all(Array("stress", "sleep").map(cal => {
        qargs.set("calendar", cal)
        return fetch(baseUrl + "?" + qargs.toString()).then(res => res.json()).then(res => {
            data = res.map(d => {return {x: d.start, y: d.value}})
            summaryChart.data.datasets.find(d => d.id === cal).data = data
        })
    })).then(() => {
        summaryChart.update()
    })
}

document.addEventListener("DOMContentLoaded", function() {
    var calendarEl = document.getElementById("calendar")
    var calendar = new FullCalendar.Calendar(calendarEl, {
        datesSet: viewDidMount,
        initialView: "dayGridMonth",
        themeSystem: "bootstrap5",
        locale: "fr",
        headerToolbar: {
            left: "dayGridMonth,timeGridWeek",
            center: "title",
            right: "today prev,next"
        },
        eventSources: [
            // https://coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c
            {
                url: "{{ url_for('api.calendar') }}",
                color: "#ffd166",
                extraParams: {calendar: "sleep"},
                textColor: "black",
            },
            {
                url: "{{ url_for('api.calendar') }}",
                color: "#118ab2",
                extraParams: {calendar: "mood"},
            },
            {
                url: "{{ url_for('api.calendar') }}",
                color: "#ef476f",
                extraParams: {calendar: "stress"},
            },
        ]
    })
    calendar.render()
})
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js" integrity="sha256-eWGhq5jRZ5QSi+PQuJt0eg4+hGCTwtsR9Qo+mC6Lyco=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js" integrity="sha256-tOhXNe/Ue+TjR33s/CryFYOGMwNfkTjTuvM4LEOAHzc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/locales-all.min.js" integrity="sha256-GcByKJnun2NoPMzoBsuCb4O2MKiqJZLlHTw3PJeqSkI=" crossorigin="anonymous"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}
