{% extends "layout_header.html" %}

{% block content %}
<nav aria-label="Date navigation" class="mb-3">
    <ul class="pagination justify-content-center mb-0">
        <li class="page-item">
            <a class="page-link" href="{{ url_for('day_summary', day=day.date|datedelta(-1)) }}">
                &laquo;
            </a>
        </li>
        <li class="page-item {% if day.date == today %}active{% endif %}">
            <span class="page-link">{{ day.date }}</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('day_summary', day=day.date|datedelta(1)) }}">
                &raquo;
            </a>
        </li>
    </ul>
    <div class="d-flex justify-content-center">
        <small>
            <a href="{{ url_for('day_view', day=day.date) }}">Impressions</a>
            |
            <a href="{{ url_for('day_summary', day=today) }}">Aujourd'hui</a>
        </small>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js" integrity="sha256-eWGhq5jRZ5QSi+PQuJt0eg4+hGCTwtsR9Qo+mC6Lyco=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js" integrity="sha256-tOhXNe/Ue+TjR33s/CryFYOGMwNfkTjTuvM4LEOAHzc=" crossorigin="anonymous"></script>

{% if day.sleeps %}
{% include "charts/sleep.html.j2" %}
{% endif %}
{% if day.stresses %}
<canvas id="stress_chart" width="400" height="200"></canvas>
{% include "charts/stress.html.j2" %}
{% endif %}

{% endblock %}
