{% extends "layout.html" %}

{% block main_content %}
<div class="px-4 py-5 my-5 text-center">
    <div class="logo">😴📊</div>
    <h1 class="display-5 fw-bold">sleep.france.sh</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Analyser votre sommeil grâce à de nombreuses sources de données.</p>
        {{ session.token }}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" disabled="" class="btn btn-primary btn-lg px-4 gap-3">Bientôt !</button>
        </div>
    </div>
</div>
<style>
.logo {
    font-size: 10em;
}
</style>
{% endblock %}
