{% extends "layout.html" %}

{% block content %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        😴📊
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">sleep.france.sh</a></li>
        <!-- <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li> -->
      </ul>

      <div class="col-md-3 text-end">
        <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button> -->
      </div>
    </header>
    <section>
        <h1>Mentions légales</h1>
        <p><span style="font-style:italic;">En vigueur au </span><span style="font-style:italic;">01/01/2022</span></p>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs&nbsp;et&nbsp;visiteurs,&nbsp;ci-après&nbsp;l'"<span style="font-weight:bold;">Utilisateur</span>", du site <span style="font-style:italic;">https://sleep.france.sh&nbsp;,</span>&nbsp;ci-après&nbsp;le&nbsp;"<span style="font-weight:bold;">Site</span>",&nbsp;les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le Site à la rubrique «&nbsp;Mentions légales&nbsp;».</p>
        <h2><span>ARTICLE 1 - L'EDITEUR</span></h2>
        <p>L'édition du Site&nbsp;est assurée par Supertuck EIRL au capital de 1000 euros</p><p>Adresse e-mail :&nbsp;contact@france.sh.</p><p>Le Directeur de la publication est Jean Martin</p></span><span data-key="output-173-0"><p>ci-après&nbsp;l'"<span style="font-weight:bold;">Editeur</span>".</p>
        <h2><span>ARTICLE 2 - L'HEBERGEUR</span></h2>
        <p>L'hébergeur du Site est la société Scaleway.</span></p>
        <h2><span>ARTICLE 3 - ACCES AU SITE</span></h2>
        <p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
        <p>En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>
        <h2><span>ARTICLE 4 - COLLECTE DES DONNEES</span></h2>
        <p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :</p></span><span data-key="output-178-0"><p>· via son espace personnel&nbsp;;</p></span><span data-key="output-150-0"><p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,&nbsp;sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs&nbsp;et&nbsp;visiteurs,&nbsp;ci-après&nbsp;l""<span style="font-weight:bold;">Utilisateur</span>", du site <span style="font-style:italic;">https://sleep.france.sh&nbsp;,</span>&nbsp;ci-après&nbsp;le&nbsp;"<span style="font-weight:bold;">Site</span>",&nbsp;les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le Site à la rubrique «&nbsp;Mentions légales&nbsp;».</p>
    </section>
</div>
{% endblock %}
